.we-are {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.eve {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

.sandra {
  grid-column: 2 / 2;
  grid-row: 2 / 3;
}

.how-we1 {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
}

.how-we {
  grid-column: 1 / 3;
  grid-row: 5 / 5;
}

body#stallnysater .grid {
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  justify-items: center;
  margin: 0 auto;
}

body#stallnysater .grid>div {
  text-align: center;
}

@media (max-width: 700px) {
  body#stallnysater .container {
    width: 100%;
    padding: 20px;
  }

  body#stallnysater .grid {
    grid-template-columns: 1fr;
    width: 100%;
  }

  body#stallnysater .grid>div {
    grid-column: auto;
    grid-row: auto;
    width: 100%;
  }
}

@media (max-width: 400px) {
  main {
    margin-top: 130px;
    /* lite luft under headern (justera efter smak) */
  }
}